
body {
	background-color:#f8f8ff;
}
h1 {
    word-spacing: 20px;
	margin-top:20px;
	font-size:50pt;
	letter-spacing:2px;
	text-shadow: 2px 2px;
	background-color:#dcdcdc;
	width:800px;
	border-bottom:25px solid #d3d3d3;
}
h2 {
    word-spacing: 5px;
	font:arial;
	font-size:10pt;
	font-style:normal;
	background-color:#fffff0;
	width:700px
}
p {
  word-spacing: -2px;
  background-color:#fff0f5;
  font:arial;
  font-size:10pt;
  font-style:normal;
}
div {
  background-color:#f5fffa;
  font:arial;
  font-size:10pt;
  width:500px;
  align-content: left;
}
  a:link {
    color:#b0c4de;font-family:times new roman; font-size: 11pt;font-style:normal;text-decoration: none;
}

a:visited {
    color:#778899;font-family:times new roman; font-size: 11pt;font-style:normal;text-decoration: none;
}

a:hover {
    color:#b0e0e6;font-family:times new roman; font-size: 11pt;font-style:normal;text-decoration: none;
}

a:active {
    color:#dda0dd;font-family:times new roman; font-style:normal;font-size: 11pt;text-decoration: none;
}
table {
  background-color: #f0ffff
  font:arial;
  font-size:11pt;
  font-style:normal;
  position:absolute; top:104px; left:-422px; z-index:1 ;
  width:900px;
}

